@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.head{
    height: fit-content;
    max-width: 100%;
    border: 0.01px solid black;
    background: linear-gradient(to top, #040404, #232323);
}

/* navbar */

.nav-container{
    max-width: 80%;
    height: 50px;
    /* border: 2px solid white; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-title h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
}

.nav-buttons{
    width: 465px;
    height: 46px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-buttons button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    background: none;
    border: none;
    
}
#red{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
}

#bars{
    display: none;
    color: rgb(255, 255, 255);
    width: 24px;
    height: 24px;
    margin-top: 15px;
}
/* head */

.head-con{
    max-width:80%;
    height: fit-content;
    /* border: 2px solid greenyellow; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 520px;
    height: 440px;
    /* border: 2px solid gold; */
}
.right{
    width: 349px;
    height: 580px;
    /* border: 2px solid red; */
    /* margin-left: 50px; */
    display: flex;
    margin:0 auto ;
}
.head-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 60px;
    font-weight: 900;
    width: 520px;
    height: 282px;
}
#jennie{
    font-family: "Playwrite CU", cursive;
}
.head-passage{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 520px;
    height: 48px;
}
.head-buttons button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    background: none;
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 42px;
    width: 224px;
    height: 54px;
    margin-top: 20px;
}
#gugu{
    background: rgb(230, 83, 60);
}
.work{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
}
.vedio{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    margin-left: -400px;
}
.work h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}

.vedio h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
.work p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

.vedio p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

/* main */
main{
    width: 100%;
    height: fit-content;
    background-color: black;
}

.main-sec{
    width: 100%;
    border: 0.01px solid black;
    /* margin-top: 30px; */
    background-color: black;
}

.habits-con{
    width: 50%;
    height: 130px;
    /* border: 2px solid white; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habit h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
.habit-passage{
    margin-top: 20px;
}

.habit-passage p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.image-sec{
    width: 85%;
    height: 350px;
    /* border: 5px solid pink; */
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.image1-con{
    width: 251px;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.image1 img{
    width:200px;
    height: 150;
    border-radius: 50%;
}

.image-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.image-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 230px;
    height: 46px;
    /* display: flex; */
    margin-left: 7px;
    margin-top: 20px;
}


/* run section */

.run{
    width: 80%;
    height: 400px;
    border-radius: 18px;
    background: rgb(34,34,34);
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

.run-left{
    width: 450px;
    height: 300px;
    /* border: 2px solid white; */
    position: relative;
    top: 50px;
    left: 60px;
}

.run-title{
    width: 443px;
    height: 116px;
    /* border: 2px solid gold; */
}

.run-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.run-p{
    width: 443px;
    height: 72px;
    /* border: 2px solid papayawhip; */
}

.run-p p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.run-btn button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.run-right img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-top: 50px;
    margin-right: 60px;
}

/* challenge section */

.scroll-container {
    overflow: hidden;
    width: 80%;
    height: 50px;
    border: 2px solid red;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap; 
    animation: scroll-left 18s linear infinite;
    color: white;
    font-size:20px;
    font-weight: 700;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }

  }


.table-sec{
    width: 100%;
    height: fit-content;
    /* border: 2px solid white; */
    background: rgb(34, 34, 34);
    margin-top: 20px;
    display: flex;
}

.table-left{
    width: 40%;
    height: 300px;
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-left: 50px;
    
}

.table-l-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    /* font-size: 28px; */
    font-weight: 900;
}

#pookie{
    width: 310px;
    height: 216px;
    margin-top: 20px;
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
  }


  .table-right{
    width: 50%;
    height: 400px;
    /* border: 2px solid white; */
    margin-top: 60px;
    margin-left:60px;
    display: flex;
    flex-direction: column;
  }

  .right-title{
    width: 443px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 900;
  }

  .right-p{
    width: 577px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
  }

  .fill-up{
    width: 577px;
    height: 168px;
    /* border: 2px solid fuchsia; */
  }

input{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}
.four{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 280px;
    height: 48px;
}

.five{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 565px;
    height: 48px;
    margin-top: 7px;
}

.right-btn button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

/* meet */
.meet-container{
    width: 100%;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-title{
    width: 464px;
    height: 68px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.meet-p{
    width: 645px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}



.meet-images{
    width: 80%;
    height: fit-content;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    
}

.gym-image{
    width: 326.67px;
    height: 272px;
    /* border: 2px solid white; */
    position: relative;
    margin-left: 20px;
}

.gym-image img{
    width: 320px;
    height: 272px;
    border-radius: 18px;
}

.up{
    position: absolute;
    top: 200px;
    font-weight: 900;
    font-size: 20px;
    color: white;

}

.bottom{
    position: absolute;
    top: 230px;
    font-size: 13px;
    color: whitesmoke;
}

.footer-container{
    width: 100%;
    height: fit-content;
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.foot{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px;   
}
.f-l{
    width: 450px;
    height: 176px;
}
.f-m{
    width: 181px;
    height: 249px;
}

.f-r{
    width: 181px;
    height: 249px;
}

.f-l h1{
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.f-l p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px
}

.f-m h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}

.f-m ul {
    list-style: none;
    margin-top: 40px;
}

.f-m li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
}
.f-r h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}

.f-r ul{
    list-style: none;
    margin-top: 40px;
}

.hori{
    width: 80%;
    
    border-top: rgba(255, 255, 255, 0.1);
    margin: auto;
}

.f-r li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
}

.rights{
    width: 80%;
    height: 50px;
    font-size: 20px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}